<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.4.min.js"></script>
  
</head>
<body>
  <header class="header">TODO</header>
  <div class="wrap">
    <div class="inputBox input-group">
        <input type="text" class="form-control" placeholder="오늘의 할 일">
        <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
    </div>
    
    <div class="todoListBox">
      <ul class="todoList">
        <li>
          <span class="txt">점심먹기</span>
          <button>DONE</button>
          <button>DEL</button>
        </li>
        <li>
          <span class="txt">점심먹기</span>
          <button>DONE</button>
          <button>DEL</button>
        </li>
        <li>
          <span class="txt">점심먹기</span>
          <button>DONE</button>
          <button>DEL</button>
        </li>
      </ul>
    </div>
    
    <footer class="footer">      
      <p>
        all coyrights reserved by jjang051
      </p>
    </footer>
  </div>
</body>
</html>