<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>board list</h1>
  <ul>
    <li th:each="boardDto : ${boardList}">
      <span th:text="${boardDto.no}" class="no">no</span>
      <span class="subject">
        <a th:text="${boardDto.subject}" 
          href="/board/view?no=3" 
          th:href="@{/board/view(no=${boardDto.no})}">
            subject
        </a>
      </span>
      <span th:text="${boardDto.userName}" class="userName">userName</span>
      <span th:text="${boardDto.regDate}" class="regDate">regDate</span>
      <span th:text="${boardDto.hit}" class="hit">hit</span>
    </li>
  </ul>
</body>
</html>