<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>view</h1>
  <form action="/board/modifyProcess" method="post">
    <input type="hidden" name="no" value="no" th:value="${boardDto.no}">
    <div><input type="text" name="userName" value="글쓴이 들어갑니다." th:value="${boardDto.userName}"></div>
    <div><input type="text" name="subject"  value="제목이 들어갑니다."
      th:value="${boardDto.subject}"
      ></div>
    <div><textarea name="contents" id="" cols="30" rows="10" th:text="${boardDto.contents}"></textarea></div>
    <div><button>확인</button></div>
  </form>
</body>
</html>